[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf/
[submodule "libs/Adafruit_NeoPixel"]
	path = libs/Adafruit_NeoPixel
	url = https://github.com/adafruit/Adafruit_NeoPixel.git
[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "components/Adafruit_SSD1306"]
	path = components/Adafruit_SSD1306
	url = https://github.com/adafruit/Adafruit_SSD1306.git
[submodule "components/Adafruit-GFX-Library"]
	path = components/Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
[submodule "components/Adafruit_BusIO"]
	path = components/Adafruit_BusIO
	url = git@github.com:phlmn/Adafruit_BusIO.git
