[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf/
[submodule "libs/Adafruit_NeoPixel"]
	path = libs/Adafruit_NeoPixel
	url = https://github.com/adafruit/Adafruit_NeoPixel.git
[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32.git
